@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6;
}

main {
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
}

main.top {
  margin-top: 0;
  padding: 0;
  background-image: url('../public/background-top.jpg');
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: 35% 30%;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
